body {
  background-color: #4ec0ca;
  background-image: url("/flappybird/assets/flappybird_bg.png");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 300px;
}

.w3-main {
  background: transparent !important;
}
